
  img {
  height: auto;
  width: 100%;
  margin-top:100px;
  border-radius:10px;
}

.wagon, .poly, .psb {
  margin-bottom: 50px;
}

.resto, .apc, .witz, .ccpr {
  margin-bottom: 50px;
}

.fun {
  margin-bottom: 50px;
}

.about-about {
  margin-bottom: 50px;
}
.about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-top: 30px;
  border-bottom: 1px solid rgb(180, 180, 180);
  p {
    font-weight: 100;
  }
}

.about-work {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-top: 30px;
  border-bottom: 1px solid rgb(180, 180, 180);
  p {
    font-weight: 100;
  }
}

.work {
  margin-bottom: 50px;
}

.about-school {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-top: 30px;
  border-bottom: 1px solid rgb(180, 180, 180);
  p {
    font-weight: 100;
  }
}

.about-fun {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-top: 30px;
  margin-bottom: 100px;
  p {
    font-weight: 100;
    margin-bottom: 40px;
  }
}

.fun-button {
  color: black;
  background-color: transparent;
  border: 1px solid black;
  font-family: $body-font;
  font-size: 12px;
  letter-spacing: 0.16666666666666666rem;
  padding: 10px 25px 10px 30px;
  &:hover {
    border: 1px solid #EF715D;
    background-color: #EF715D;
    color:white;
    text-decoration: none;
  }
}

