.form {
  display: inline-grid;
}

.contact-content {
  display: flex;
  margin-top: 100px;
  align-items: center;
}

.contact-content-left {
  margin-left:60px;
  display: flex;
  h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  p {
    font-size: 20px;
  }
}

.form-name {
  margin-bottom: 35px;
}

.form-text {
  margin-bottom: 20px;
}

.form-email {
  margin-bottom: 35px;
}

.send-btn {
  padding: 5px 115px 5px 115px;
  color: black;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 15px;
  &:hover {
    border: 1px solid #EF715D;
    background-color: #EF715D;
    color:white;
  }
}

.vl {
  border-left: 1px solid black;
  height: 380px;
  margin-left: 40px;
  margin-top: 50px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
  i {
    color:#EF715D;
  }
}

.contact-paragraph {
  display: flex;
  align-items: center;
  margin-left: 20px;
  p {
    font-size: 15px;
  }
}

