.wrapper {
  display: grid;
  grid-template-columns:  repeat(auto-fit, minmax(320px, 1fr));
  gap: 15px;
  grid-auto-rows: minmax(100px, auto);
  align-items:center;
  justify-content:center;
  margin-top: 70px;
  background-color: white;
}
.contact-form {
  display:flex;
  margin-left: 40px;
  h1 {
  font-size: 50px;
  margin-bottom: 20px;
}
  p {
    font-size: 15px;
    font-family: $body-font;
  }
}

#contact_email {
  padding-right: 40px;
}

#contact_name {
  padding-right: 40px;
}

#contact_message {
  padding-right: 35px;
}

.contact-img {
  height: auto;
  width: 100%;
}

.form-name {
  margin-bottom: 35px;
}

.form-text {
  margin-bottom: 20px;
}

.form-email {
  margin-bottom: 35px;
}

.send-btn {
  color: black;
  background-color: transparent;
  border: 1px solid black;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-family: $body-font;
  font-size: 12px;
  letter-spacing: 0.16666666666666666rem;
  padding: 10px 68px 10px 68px;
  &:hover {
    border: 1px solid #808080;
    background-color: #808080;
    color:white;
    text-decoration: none;
  }
}

.send-button {
  margin-left: 15px;
}

.vl {
  border-left: 1px solid black;
  height: 340px;
  margin-left: 40px;
  margin-top: 55px;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  i {
    color:#808080;
  }
}

.contact-paragraph {
  display: flex;
  align-items: center;
  margin-left: 20px;
  p {
    font-size: 15px;
    font-family: $body-font;
  }
}

@media screen and (max-width:1024px) {
  .vl {
    display: none;
  }
  .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: initial;
  i {
    margin-right: 20px;
  }
}
  .contact-info {
    display: initial;
  }
  .contact-form {
    justify-content: center;
    margin-left: 0;
  }
  .contact-paragraph {
    margin-left: 0;
    margin-top: 5px;
  }
}

