
.hi {
  font-size: 140px;
  font-weight: 700;
  position: absolute;
  top: 130px;
  left: 80px;
}

.description {
  position: absolute;
  top: 500px;
  left: 92px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ban-img {
  height: auto;
  width: 80%;
  margin-left: 220px;
  margin-top: 70px;
}


.lil-intro {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  margin-bottom: 30px;
}

// parallax //

html, body {
  scroll-behavior: smooth;
}


.MainContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.ContentContainer {
  // position: relative;
  display: block;
  background-color: white;
  z-index: 1;
}

.Content {
  max-width: 750px;
  margin: 0 auto;
  padding: 75px 0;
}


.ParallaxContainer {
  // display: flex;
  // flex: 1 0 auto;
  position: relative;
  z-index: -1;
  height: 100vh;
  transform: translateZ(-1px) scale(2);
}

// Arrows for scroll down //

.box{
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box span{
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.box span:nth-child(2)
{
  animation-delay: -0.2s;
}

.box span:nth-child(3)
{
  animation-delay: -0.4s;
}

@keyframes animate{

  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1024px) {
  .hi {
    font-size: 100px;
    position: static;
  }
   .description {
    position: static;
  }
  .ban-img {
    margin-left: 0px;
    margin-top: 10px;
    width: 100%;
  }
  .box {
    display: none;
  }
  .ParallaxContainer {
    height: 100vh;
  }
  .MainContainer {
    margin: 10px;
  }
}

@media screen and (max-width: 760px) {
  .hi {
    font-size: 50px;
    position: static;
  }
   .description {
    position: static;
  }
  .ban-img {
    margin-left: 0px;
    margin-top: 10px;
    width: 100%;
  }
  .box {
    display: none;
  }
  .ParallaxContainer {
    height: 75vh;
  }
  .MainContainer {
    margin: 10px;
  }
}

@media screen and (max-width: 420px) {
  .hi {
    font-size: 50px;
    position: static;
  }
   .description {
    position: static;
    font-size: 20px;
  }
  .ban-img {
    margin-left: 0px;
    margin-top: 10px;
    width: 100%;
  }
  .box {
    display: none;
  }
  .ParallaxContainer {
    height: 70vh;
  }
  .MainContainer {
    margin: 10px;
  }
}
