<div class="container">
  <div class="wrapper">
    <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1607783220/IMG_2888_okgdib.jpg" class="contact-img">
    <div class="contact-form">
      <form method="POST" action="https://simple-form.com/marieleleu@icloud.com">
      <h1>contact me</h1>
        <div class="form-name">
          <p> Your Name </p> <input type="text" name="name" placeholder="first & last" style="padding-right: 85px;"/>
        </div>
        <div class="form-email">
          <p> Your Email </p> <input type="email" name="replyTo" placeholder="example@gmail.com" style="padding-right: 85px;"/>
        </div>
        <div class="form-text">
          <p> Anything you want to tell me? </p> <textarea name="message" placeholder="disclose all your secrets" style="padding-right: 85px;"></textarea>
        </div>
        <button type="submit" form="form1" value="Submit" class="send-btn">Send</button>
      </form>
      <div class="vl">
      </div>
    </div>

    <div class="contact-info">
      <div class="icons">
        <a href="mailto:marieleleu@icloud.com"><i class="fas fa-envelope-square fa-3x"></i></a>
        <a href="tel:+33680848864"><i class="fas fa-phone-square fa-3x"></i></a>
        <a href="https://github.com/marieleleu566"><i class="fab fa-github-square fa-3x"></i></a>
        <a href="https://www.linkedin.com/in/marieleleu/"><i class="fab fa-linkedin fa-3x"></i></a>
      </div>
      <div class="contact-paragraph">
        <p>Don't be shy! Feel free to send me a message if you have any questions, if you want to work together, or simply if you want to say hello and chat.</p>
      </div>
    </div>
  </div>
</div>

