<div class="MainContainer">
  <div class="ParallaxContainer">
    <h1 class="hi"> Hello, <br> I'm Marie.</h1>
    <h3 class="description"> Front-End Developper </h3>
    <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1609419728/IMG_2917_ishcwu.jpg", class="ban-img">
    <div class="box">
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="ContentContainer">
    <div class=star>
      <%= image_tag 'transtar.png', style:'width:40px'%>
    </div>
    <div class="Content">
      <h3 class="lil-intro"> I'm a front-end web developper with back-end and UX/UI skills based in Paris. I like to resolve design problems, create smart user interface and imagine useful interaction, focusing on the user-centered design.</h3>
      <%= link_to "ABOUT ME", '/about', class:"fun-button" %>
    <div class="star1">
      <%= image_tag 'transtar.png', style:'width:50px'%>
    </div>
    </div>
    <div class="grid-center">
      <div>
        <div class="portfolio">
          <div class="css-mb with-glare">
            <div class="mb-display-position">
              <div class="mb-display">
                <div class="mb-screen-position">
                  <div class="mb-screen">
                    <a href="http://www.dabbynaval.com/" target="_blank">
                      <img src="https://marportfolio.s3.eu-west-3.amazonaws.com/dabby-site-ex.png" alt="example image"/>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          <div class="mb-body"></div>
          <div class="mb-bottom-cover"></div>
        </div>
          <div class="dabby-info">
            <div class="dabby-content">
              <div class="tape1">
                <%= image_tag 'tapewhite.png', style:'width:235px' %>
              </div>
              <h3>DABBY NAVAL</h3>
              <p>Portfolio site created for Dabby Naval; a stylist and fashion consultant based in Paris. Coded on Ruby on Rails with ActiveRecord, Webpacker, and PostSQL before deployed to Heroku. HTML5+ SCSS & JavaScript. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



